/* innovation.sass */


@import "bootstrap/variables"
@import "bootstrap/mixins"
// @import "bootstrap/navs"

@import "shared/colors"
@import "shared/variables"
@import "fonts"

@import "responsive/faculty-view"
@import "responsive/projects-view"



// Extenders
%transition
	transition: all 200ms ease

%alt-titles
	font-family: $sans-font-stack
	text-transform: none
	letter-spacing: 0
	font-weight: bold
	font-size: 1.5em


=header-height( $height )
	$logo-height: $height * 0.95
	#main-header
		height: $height
	#header-top
		h1 
			#site-logo
				background-size: $logo-height $logo-height
				height: $height
				width: $height
			#site-name
				left: $height + 10px

	#content
		padding-top: $height



// Main

*, *:before, *:after
	position: relative
	box-sizing: border-box

body
	background-image: none

#content
	box-shadow: none
	padding: 0
	transition: padding 200ms ease

#main-content
	padding: 0 5%

#search-container
	opacity: 0

#search-menu
	z-index: 4

h1, h2, h3, h4, 
.main-feature .read,
.featured-items .text,
#footer-links h2,
h1 a, h1 .amp
	font-family: "Bebas Neue", $sans-font-stack
	text-transform: uppercase
	font-weight: 400
	font-style: normal










// Header

$header-height: 60px
$header-left: 20px
$header-top: $header-height * .1
$logo-height: $header-height - (2 * $header-top)
$header-color: #3e78b3
$header-color-dark: mix($header-color, $blue3)


#main-header
	height: $header-height
	background-color: $header-color
	border-top: 1px solid transparent
	border-bottom: 1px solid $blue4
	@extend %transition
	z-index: 100
	&, .svg &
		background-image: none
	.scrollTop &
		height: $header-height
	.js &
		position: fixed
		top: 0
		left: 0
		width: 100%

#header-top
	h1
		margin-top: $header-top
		margin-left: $header-left
		a#site-logo
			background: url(../img/cid_logo.png) top left no-repeat
			background-size: $logo-height $logo-height
			display: block
			width: $header-height
			height: $header-height
			z-index: 10
			@extend %transition

#site-name
	&, &:hover
		text-shadow: none
	position: absolute
	top: 0
	left: $header-height + 10px
	line-height: 0.9
	font-size: 1.5em
	@extend %transition
	acronym
		&.cid
			display: inline-block
		&.byu
			color: rgba(#fff, 0.5)
	span
		&.innovation, &.creativity, &.design
			display: none
		&.amp
			opacity: 0.5
			line-height: 0.9

#content
	padding-top: $header-height



$header-height: 240px

body.atTop.front
	+header-height( $header-height )
	#site-name
		top: 0.5em
		acronym
			&.cid, &.byu
				display: none
		span
			&.innovation
				display: block
			&.creativity, &.design
				display: inline-block
















// Nav
$nav-font-size: 1
$nav-button-height: $nav-font-size * 16px * 2.3

.nav-container
	top: auto
	bottom: 0.65em
	border: none
	background-color: transparent
	box-shadow: none
	left: $header-height - 18px
	@extend %transition
	.atTop.front &
		left: $header-height + 9px
	a
		font-size: $nav-font-size + em
		height: $nav-button-height

#primary-nav
	padding-left: 0
	ul
		left: 5px
	li.hover > a
		border-radius: 0
	a
		padding: 0.5em 1.2em
		background-color: rgba($blue4, 0)
		transition: background-color 0.2s ease
	a.current, a:hover
		background-color: rgba($blue4, 1)
		background-image: none










// Content

#content 
	padding-bottom: 4em
	h1.title
		max-width: 1080px
		margin: 1em auto
		padding: 0 5%
		font-size: 3em
	article .field-type-image
		padding: 0.5em 0 1.5em
		&:first-child
			padding-top: 0

#feature
	margin-bottom: 3em
	.feature-description
		padding: 0 4%
	@media all and (max-width: 939px)
		.anythingSlider
			box-sizing: content-box
	@media all and (min-width: 940px)
		.feature-image
			padding-right: 240px
		.feature-description
			width: 240px
			padding: 0 2em

@media all and (min-width: 71.625em)
	#content
		max-width: 100%
		width: 100%

	#feature
		margin-left: 0
		margin-right: 0







// Stripes
.block-byu-feature-slider
	background-color: $blue8
article
	padding: 0 5%
	max-width: 1080px
	margin: 0 auto










// Front Page
.front-page
	a, a:link, a:visited
		color: $header-color
	a:hover, a:active
		color: $header-color-dark
	h2
		margin-left: 3%
		font-size: 2em
		color: $header-color-dark

	.featured-items, .all-disciplines, .site-description, .quote, .upcoming-events, .recent-tweets
		padding: 4em 0
		.block-wrapper
			max-width: 1200px
			margin-left: auto
			margin-right: auto

	.main-feature, .all-disciplines, .quote, .recent-tweets
		background-color: $header-color

	.main-feature
		.info
			position: absolute
			width: 100%
			top: 50%
			left: 0
			text-align: center
			top: - 1.5em
			.text
				display: inline-block
				color: white
				font-size: 3em
				line-height: 1em
				text-shadow: 0 0 20px rgba(0,0,0,0.9)
			.read
				display: block
				background-color: $header-color
				position: absolute
				bottom: -2.5em
				right: 0
				font-size: 0.45em
				padding: 0.5em
				line-height: 1em
				text-shadow: none
				@extend %transition
				letter-spacing: 0.03em
			p
				display: inline
		a:hover
			.info .read
				background-color: $header-color-dark
				right: -3px

	.featured-items
		padding: 0.2em 0 3em
		.feature-item
			width: 29.33333%
			float: left
			margin-left: 3%
			.text
				display: block
				font-size: 1.5em
				padding: 0.35em 0
				&:hover
					text-decoration: none

	.all-disciplines
		text-align: center
		padding: 2em 1em
		color: white
		font-size: 2em
		font-style: italic
		background-color: rgba($header-color, 0.65)

	.site-description
		padding: 5em 0
		h2
			margin-left: 0
		.col
			width: 29.33333%
			float: left
			margin-left: 3%
			text-align: center
			a:hover
				text-decoration: none
	.quote
		padding: 3.5em 0 3em
		blockquote
			color: #fff
			border-left: none
			font-size: 1.5em
			line-height: 1.4
			font-style: italic
			text-align: center
			max-width: 24em
			margin: 0 auto
			&:before, &:after
				font-size: 1.6em
				display: inline-block
				position: relative
				top: 0
				left: 0
				line-height: 0
				color: rgba(255,255,255,0.5)
			&:before
				content: "“"
				top: -5px
				right: 2px
			&:after
				content: "”"
				top: -4px
		.attribution
			text-align: right
			color: rgba(255,255,255,0.6)
			padding: 0.75em 0 0
			max-width: 36em
			margin: 0 auto

	.upcoming-events
		width: 94%
		margin: auto
		h2
			margin: 0 0 0.35em
		.views-row
			padding: 0.5em 0
			border-bottom: 1px solid mix($blue9, #ccc)
			&:last-child
				border-bottom: none
		.date
			font-size: 1em
		.title
			margin-top: 0.25em
			font-size: 1.15em
			text-indent: 0.35em
			font-weight: bold
		@media (min-width: 52em)
			.date
				float: left
				width: 38.2%
				text-align: right
			.title
				margin-left: 39.2%
				margin-top: 0








// Innovation Labs
.page-innovation-labs
	article
		h2
			@extend %alt-titles
		.field-type-image
			float: left
			margin-right: 1em
			top: -0.3em

.page-projects
	article h2
		@extend %alt-titles







// Drupal admin
ul.tabs.primary
	position: absolute
	//top: -10px
	right: 0
	border-bottom: none
	z-index: 1000
	li 
		a
			border: 1px solid $linkColor
			+border-radius(4px)
			color: $blue1
			background-color: $blue9
			&:hover, &:active
				background-color: $blue8
		&.active a
			border: none
			color: #999
			background: #fff

.svg-icon
	display: inline-block
	max-width: 100%
	max-height: 100px












// Footer
#page-footer, #footer-links
	background-color: $header-color-dark

#page-footer
	p, .col div
		color: mix($header-color, #fff)
	.social-media
		ul
			list-style: none
			margin: 0
		a
			.svg-icon
				opacity: 0.7
				width: 60px
				@extend %transition
			&:hover .svg-icon
				opacity: 1
#footer-links
	padding: 2em 0 4em
	border-bottom: none
	h2
		color: white
		font-size: 1.5em
		border-bottom: none
		letter-spacing: 0.04em

	@media (min-width: 900px)
		.wrapper
			width: 94%
			margin: 0 auto
		.col
			width: 31.33%
			margin: 0
			&.alpha
				margin-right: 3%
			&.omega
				float: right


#footer-bottom
	display: none
