
.faculty-view div.field-name-field-photo img{
	min-width:200px;
	min-height:200px;
	max-width:200px;
	max-height:200px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;               
    }
    
.faculty-view table, td, th {
    border:none;
    text-align:center
    }
    
.faculty-view header h2{
	position:relative;
	padding:0px;
    margin:0px;
	bottom:-235px;
    text-align:center;
}

.faculty-view header h2 a{
	color:#EF5053;
	font-family:'Whitney SSm A';
	font-size:15px;
	font-weight:500px;
	line-height:20px;
	padding:0px;
	margin:0px;
}

.faculty-view div.field-name-field-discipline{
    position:relative;
	bottom:-30px;
	font-size:15px;
	font-weight:500px;
	line-height:20px;
	padding:0px;
	margin:0px;
	text-transform:uppercase;
	color:#68A5B7;
}

.faculty-view article ul{
	visibility:hidden;
}
