article header {
    text-align:center;
    margin:20px
}

header img{
    height:200px;
    width:200px;
    max-height:200px;
    max-width:200px;
}

header h2{
    position:relative;
    padding:0px;
    margin:20px 0px 0px 0px;
    bottom:75px;
}

 header h2 a,  header h2 a:link, header h2 a:visited{
     color:#FF4500;
 }

header div.field.field-name-field-discipline{
    position:relative;
    bottom:-45px;
    color:#3E78B3;
}

header ul a{
    display:none;
}

h1.title{
    font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    color:#FF4500;}