.project-list{
	ul {
		list-style-type: none;
	}
	li.views-row{
		display:inline-block;
		vertical-align:top;
		max-width:30%;
		min-width:220px;
		min-height:200px;
	}

	article{
		position:relative;
		height:100%;
		width:100%;
		min-height:200px;
		padding:0px;
	}

	article header{
		width:100%;
		position:absolute;
		bottom:0px;
		padding:0px;
		margin:0px;
	}

	article header h2{
		color:white;
		background:#3E78B3;
		font-size:1em;
		padding:0px;
		opacity:0.6;
		margin:0px;
	}

	article header h2 a{
		color:white;
		text-decoration:none;
	}

	div.field-name-field-project-image{
		padding:0px;
		margin:0px;
		position:absolute;
		width:100%;
		height:100%;
		top:0px;
		left:0px;
		z-index:-1;
		overflow:hidden;
	}

	img{
		width:100%;
		height:100%;
		padding:0px;
		margin:0px;
	}
}
